.button {
    text-align: left;
}

.input {
    width: 34%;
}

.field {
    text-align: left;
}

.main { 
    width: 200px;
    height: 210px;
    border: solid 1px black;
    padding: 10px;
}

.result {
    color: green;
    text-align: right;
}
